BasedOnStyle: Google

ColumnLimit: 120
IndentWidth: 4
PPIndentWidth: 2
IndentCaseLabels: false
IndentPPDirectives: AfterHash
UseTab: Never
TabWidth: 4

AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
# AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
InsertNewlineAtEOF: true
RemoveSemicolon: true
